spaces
gradio>=5.49,<7
qwen-tts @ git+https://github.com/dffdeeq/Qwen3-TTS-streaming.git@13ef823ffe76aec4ac7e35d3fec28ecfc8d7427a
transformers==4.57.3
accelerate==1.12.0
soundfile>=0.13,<1
numpy>=1.26,<3
